<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pacientes del Familiar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Pacientes Asociados</h1>
    <ul>
        {% for paciente in pacientes %}
            <li>
                <strong>{{ paciente.nombre }} {{ paciente.apellido }}</strong> (ID: {{ paciente.id }})
                - <a href="{% url 'paciente_info' paciente.id %}">Ver Información</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
