<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Paciente</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Seleccionar Paciente</h1>
    <ul>
        {% for paciente in pacientes %}
            <li>
                <a href="{% url 'paciente_info' paciente.id %}">{{ paciente.nombre }} {{ paciente.apellido }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
